/* below is ALL from https://codepen.io/Kseso/pen/OjprYz 
full credit to the authors, MIT license etc TODO write this correctly*/

figure {margin:0;padding:0;border:0 none; position: relative;}
figure * {margin:0;padding:0;border:0 none; position: relative;}

/* limit this to figure too? what does it do? */
*,*:before,*:after {box-sizing:inherit;}

html {
	box-sizing:border-box;
}
.last-posts {
	display:  grid;
	/* auto-fit collapses empty tracks */
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: calc(1rem + 2.5vmin);
 	grid-auto-flow: dense;
	padding: calc(1rem + 2.5vmin);
}
	figure {
		outline-offset: calc(1.1rem + 2vmax);
		transition: .5s;
		font-size: calc(1rem + .5vmax + 1vmin);
		overflow: hidden;

	}
	figure:hover {
	}
figure:first-child {
    grid-row-start: span 3;
    grid-column-start: span 3;
		outline: 5px solid #932e26;
		outline-offset: 5px;
		font-size: calc(1rem + 2vmax + 1vmin);	
}
figure:nth-child(2n+3) {
    grid-row-start: span 3;
		font-size: calc(.9rem + 2vmin);
}
figure:nth-child(4n+5) {
    grid-column-start: span 2;
		grid-row-start: span 2;
		font-size: calc(1rem + 1vmax + 2vmin);
}
figure:nth-child(6n+7) {
    grid-row-start: span 2;
		font-size: calc(.6rem + 1.5vmax + 1vmin);
}
figure:nth-child(8n+9) {
    grid-column-start: span 2;
    grid-row-start: span 3;
		font-size: calc(1.2rem + 1.5vmax + 1vmin);
}
figure img {
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	object-fit: cover;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%) ;
	transform-origin: center center;
	filter: invert(0);
	transition: 1.5s;
	z-index: -1;
}
	figure div:hover + img {
		filter: invert(1);
	}
	 div.blocker{
		position:fixed;
	    z-index: 1002;
	    top: 0;
	    left: 0;
	    bottom:0;
	    right:0;
	    opacity:0.8;
	    background-color:#fff;
	}
	 div.big {
		position:fixed;
	    z-index: 1003;
	    display: block;
	    background-color:rgba(74,98,116,.7);
	    width: 50%;
	    top: 15%;
	    left: 25%;
		font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
		color: #fff;
    grid-row-start: span 3;
    grid-column-start: span 3;
		outline: 5px solid #932e26;
		outline-offset: 5px;
	}
	div.big h2 {
		margin: auto;
		font-size: calc(1rem + .5vmax + 1vmin);
		font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
		padding: 1rem 1rem 1rem .5rem;
		text-align: right;
		line-height: 1.2;
		color:#fff;
	}
	div.big h2 a {
		font-size: inherit;
		color:inherit;
	}
	figure div {
		cursor:pointer;
		width: 100%;
		height: 100%;
		color: #fff;
		text-decoration: none;
		-letter-spacing: 2px;
		text-shadow:
			 0 0 1px #000,
			 -1px -1px 0 #000,  
			 1px -1px 0 #000,
			 -1px 1px 0 #000,
			 1px 1px 0 #000;
		overflow: hidden;
	}
	figure div:hover {
	}
	figure div::before {
		background: linear-gradient(-45deg, rgba(54,78,96,.7) 50%, rgba(74,98,116,.7) 50%);
		content:'';
		position: absolute;
		height: 200%;
		width: 200%;
		left: 0;
		top: 0;
		transition: .2s;
	}
	figure div:hover::before {
		left: -100%;
		top: -100%;
	}
	figure div h2 {
		margin: auto;
		font-size: inherit;
		font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
		padding: 1rem 1rem 1rem .5rem;
		text-align: right;
		line-height: 1.2;
	}
	figure div h2 a {
		font-size: inherit;
		color: inherit;
		text-decoration: none;	
	}
	figure div h3 {
		margin: auto;
		font-size: 50%;
		font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
		padding: 1rem 1rem 1rem .5rem;
		text-align: center;
		line-height: 1.2;
	}
	figure img {
		transform-origin: center center;
		transition: .5s;
	}
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  text-align:left;
  display:block;
  float:left;
}



